
---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Main from "../../components/Main.astro";
import PostList from "../../components/PostList.astro";
import H1 from "../../components/H1.astro";
import type {GetStaticPathsOptions, Page} from "astro";

export async function getStaticPaths({paginate}:GetStaticPathsOptions){
    const allPosts = (await getCollection("posts"));
    return paginate (allPosts, {pageSize: 6})
}

type Props = {
    page: Page
}
const {page} = Astro.props;
const posts = page.data as CollectionEntry<"posts">[];
---

<Layout title="Blog - Astro Course">
    <Main>
        <H1 text="Boba Cat Association Blog"/>
        <p class="text-zinc-800 text-2xl mb-24 max-sm:mb-14">Join the community for news about Boba Cats around the world</p>
        <Pagination/>
        <PostList posts={posts}/>
    </Main>

</Layout>
