---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="text-6xl text-violet-700 font-bold mb-5">Boba Cat Association</h1>
		<p class="text-zinc-900 text-2xl mb-24 max-sm:mb-14">We are dedicated to highlighting the best boba cats around the world</p>
		<hr class="w-full border border-violet-700 mb-16 max-sm:mb-10" />
	</main>
</Layout>


